* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Lato', sans-serif;
}

.page-header {
    text-align: left;
    color: yellow;
    margin-left: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

.pokemon-list {
    list-style: none;
    width: 99%;
}

p {
    border: 5px solid yellow;
    padding: 20px;
    background-color: darkblue;
    color: yellow;
}

.buttons {
    border: 5px solid yellow;
    margin: 2px;
    padding: 20px;
    background-color: darkblue;
    color: yellow;
    width: 100%;
    text-align: left;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: inline-block;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: inline-block;
    margin: auto;
    width: 100%;
    background-color: aqua;
    border: 10px solid yellow;
    max-width: 900px;
}

.modal-close {
    float: right;
    text-decoration: underline;
    background: none;
    border: none;
}

@media (min-width: 992px) {
    .page-header {
        font-size: 2.5em;
        margin-left: 100px;
    }
    .buttons {
        margin: 4px;
        padding: 28px;
        font-size: 1.5rem;
    }
}