* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Lato', sans-serif;
}

p {
    border: 5px solid yellow;
    margin: 20px;
    padding: 20px;
    background-color: darkblue;
    color: yellow;
}

.page-header {
    text-align: center;
    color: yellow;
}

.buttons {
    border: 5px solid yellow;
    margin: 2px;
    padding: 20px;
    background-color: darkblue;
    color: yellow;
}

.pokemon-list {
    list-style: none;
}