* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Lato', sans-serif;
}

.list-group {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-group-item {
    margin: 10px;
    border-radius: 8px;
}

.list-group-item button {
    text-transform: capitalize;
    height: 70px;
    width: 200px;
}

.modal-content {
    background-color: rgb(73, 73, 184);
}

.modal-header {
    color: yellow;
}

p {
    border: 5px solid yellow;
    padding: 20px;
    background-color: darkblue;
    color: yellow;
}